.notebook__container {
  width: 80%;
  max-width: 550px;
  height: 100vw;
  min-height: 400px;
  max-height: 700px;
  background-color: #ffd890;
  border-radius: 15px 10px 10px 15px;
  box-shadow: 10px 10px #fff, 20px 20px #ffd890, 20px 20px 10px 1px #222222;
  display: flex;
}

.notebook__loin {
  width: 40px;
  height: 100%;
  background-color: #464646;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  overflow: hidden;
}

.notebook__gap {
  width: 20px;
  height: 20px;
  background-color: #cecece;
  color: #cecece;
  border-radius: 50%;
  box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px,
    0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px, 0 600px, 0 640px;
}

.notebook__spring {
  width: 35px;
  height: 10px;
  background-color: #222222;
  color: #222222;
  border-radius: 10px;
  box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px,
    0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px, 0 600px, 0 640px;
  transform: translateY(50%) translateX(-20px);
}

.notebook__page {
  width: calc(100% - 40px);
  height: 100%;
  background-color: #ffffff;
  border-radius: 0 10px 10px 0;
  clip-path: inset(0 100% 0 0);
  transition: 1s;
  position: relative;
}

.notebook__line {
  width: 100%;
  height: 1px;
  color: #cecece;
  box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px,
    0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px, 0 600px, 0 640px, 0 680px;
}

.notebook__corner {
  width: 85px;
  height: 85px;
  clip-path: inset(100% 0 0 100%);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 2s;
  border-radius: 10px 0 0 0;
  background: linear-gradient(-45deg,
      rgb(255, 255, 255) 45%,
      rgb(143, 143, 143) 48%,
      rgb(172, 172, 172) 50%,
      rgb(184, 184, 184) 55%);
}

.notebook__btn {
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  right: 3px;
  bottom: 3px;
  transition: 0.3s;
}

.notebook__content {
  position: absolute;
  top: 11.5%;
  left: 10%;
  width: 80%;
  font-family: 'Times New Roman', Times, serif;
}

.notebook__quote {
  font-size: clamp(16px, 4vw, 1.7rem);
  line-height: clamp(30px, 7vw, 2.5rem);
  background-color: white;
  margin-bottom: 30px;
  display: block;
}

.notebook__quote__author {
  font-size: clamp(18px, 4vw, 1.5rem);
  background-color: white;
}

.notebook__btn:hover {
  scale: 1.1;
}

.notebook__container:hover .notebook__page {
  clip-path: inset(0 0 0 0);
}

.notebook__container:hover .notebook__corner {
  clip-path: inset(0 0 0 0);
}